
Game/maps/*
Game/materials/*
Game/models/*
Game/panorama/*

!Game/panorama/localization

Game/particles/*
Game/sound/*
Game/soundevents/*
Game/sounds/*

*.bin

Content/maps/*
Content/materials/*
Content/models/*
Content/sound/*
Content/sounds/*
Content/particles/*

Content/panorama/images/*
Game/resource/flash3/*
Game/scripts/.vs/*

*.soc
*.tmp
*.cfg