.PickScreenRoot
{
  width: 100%;
  height: 100%;
}

#PickScreen
{
  width: 100%;
  height: 100%;
  flow-children: none;
}


#RadiantPlayers{
	width: 450px;
	height: 130px;

	horizontal-align: left;
	vertical-align: top;
	margin-left: 20%;

	flow-children: right;
}

#DirePlayer{
	width: 450px;
	height: 130px;

	horizontal-align: right;
	vertical-align: top;

	margin-right: 20%;
	flow-children: right;
}
.PlayerPanel
{
	width: 90px;
	height: 130px;
	flow-children: down;
}
.PlayerIcon{
	width: 90%;
	height: 65%;

}
.HeroPickedIcon
{
	width: 100%;
	height: 35%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: left;
	vertical-align: top;
	border-color: #444444;
	border: 1px solid #444444;
	box-shadow: black 0px 0px 5px 2px;
	background-color: #221613ed;
}
.PlayerRankIcon
{
	width: 100%;
	height: 29%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: left;
	vertical-align: top;

	margin-top: 4%;
}
.PlayerMedal
{
	width: 50%;
	height: 32%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: right;
	vertical-align: top;

	margin-top: -63%;
	margin-right: -12%;
}
.PlayerName{
	visibility: visible;

	font-size: 20px;
	font-weight: black;
	text-overflow: shrink;

	text-transform: uppercase;
	transition-property: opacity-mask;
	transition-duration: .3s;
	opacity-mask: url("s2r://panorama/images/masks/killcammask_right_psd.vtex") 0.8;
	text-shadow: 1px 1px 3px 3.0  #000000ff;
	vertical-align: center;
	horizontal-align: middle;
	z-index: 2;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New,YDYGO 540;
	margin-top: 2%;
}
.d
{
	border-color: #444444;
	border: 2px solid #444444;
	transition-timing-function: ease-in-out;
	background-color: black;
	vertical-align: top;
	horizontal-align: center;
	box-shadow: black 0px 0px 5px 2px;
	z-index: 2;
	background-image: url("s2r://panorama/images/compendium/avatarborder_gold_psd.vtex");
	background-size: contain;
	opacity: 1;
}

#HeroesRoot
{
  width: 42%;
  height: 70%;
  flow-children: right-wrap;
  border-color: #444444;
	border: 1px solid #444444;
	box-shadow: black 0px 0px 5px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #202030f8 ), color-stop( 0.15, #202030f8 ), to( #20203088 ) );
	vertical-align: center;
	horizontal-align: left;
  margin-left: 2%;
  margin-top: 5%;
}

#CoreRoot
{
  width: 53%;
  height: 70%;
  flow-children: none;
  border-color: #444444;
	border: 1px solid #444444;
	box-shadow: black 0px 0px 5px 2px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #202030f8 ), color-stop( 0.15, #202030f8 ), to( #20203088 ) );
	vertical-align: center;
	horizontal-align: right;
  margin-left: 2%;
  margin-top: 5%;
}

#RadiantSide
{
  width: 50%;
  height: 60%;
  flow-children: none;
	vertical-align: top;
	horizontal-align: left;
  border-right: 2px solid black;
}

#DireSide
{
  width: 50%;
  height: 60%;
  flow-children: none;
	vertical-align: top;
	horizontal-align: right;
  border-left: 2px solid black;
}

.PlayerCaptain
{
	width: 50%;
	height: 32%;
	background-size: 100%;
	background-repeat: no-repeat;
	horizontal-align: left;
	vertical-align: top;
	margin-top: -63%;
}

#RadiantSideName
{
  height: 60px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	color: red;
	font-size: 40px;
	padding: 6px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6px;
	white-space: nowrap;
	text-shadow: 0px 0px 4px 1.0 #9BCAF488;

  text-overflow: shrink;
  text-align: center;
  text-transform: uppercase;
}

#DireSideName
{
  height: 60px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	color: red;
	font-size: 40px;
	padding: 6px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6px;
	white-space: nowrap;
	text-shadow: 0px 0px 4px 1.0 #DC143C88;

  text-overflow: shrink;
  text-align: center;
  text-transform: uppercase;
}

#RadiantBans
{
  width: 20%;
  height: 60%;
  flow-children: down;
	vertical-align: center;
	horizontal-align: left;
  margin-left: 6%;
}

#DieBans
{
  width: 20%;
  height: 60%;
  flow-children: down;
	vertical-align: center;
	horizontal-align: left;
  margin-left: 6%;
}

.HeroBans
{
	width: 100%;
	height: 20%;

  horizontal-align: center;
  vertical-align: middle;
	flow-children: none;
  border-color: #444444;
  border: 1px solid #8B000060;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #202030f8 ), color-stop( 0.15, #202030f8 ), to( #20203088 ) );
  background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	z-index: 1;

	padding: 10px 10px 10px 10px;
}

#RadiantPicks
{
  width: 50%;
  height: 60%;
  flow-children: none;
	vertical-align: center;
	horizontal-align: right;
  margin-right: 10%;
  margin-top: 10%;
}

#DirePicks
{
  width: 50%;
  height: 60%;
  flow-children: none;
	vertical-align: center;
	horizontal-align: right;
  margin-right: 10%;
  margin-top: 10%;
}
.HeroPick
{
	width: 43%;
	height: 20%;

  border-color: #444444;
	border: 1px solid #444444;
	box-shadow: black 0px 0px 5px 2px;
	background-color: #221613ed;
  background-size: cover;
	background-position: 100%;
	background-repeat: no-repeat;
	z-index: 1;
}
#RadiantPick_1
{
  vertical-align: top;
	horizontal-align: left;
}

#RadiantPick_2
{
  vertical-align: top;
	horizontal-align: right;
}

#RadiantPick_3
{
  vertical-align: top;
	horizontal-align: left;
  margin-top: 30%;
}

#RadiantPick_4
{
  vertical-align: top;
	horizontal-align: right;
  margin-top: 30%;
}

#RadiantPick_5
{
  vertical-align: top;
	horizontal-align: middle;
  margin-top: 60%;
}
#DirePick_1
{
  vertical-align: top;
	horizontal-align: left;
}

#DirePick_2
{
  vertical-align: top;
	horizontal-align: right;
}

#DirePick_3
{
  vertical-align: top;
	horizontal-align: left;
  margin-top: 30%;
}

#DirePick_4
{
  vertical-align: top;
	horizontal-align: right;
  margin-top: 30%;
}

#DirePick_5
{
  vertical-align: top;
	horizontal-align: middle;
  margin-top: 60%;
}

.PickButton
{
	margin-left: 12px;
	width: 25%;
	height: 70px;
	flow-children: none;

  saturation: 0.5;
  brightness: 1.0;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #404D65dd ), to( #2B3445dd ) );

  border-top: 1px solid #6F819B;
  border-left: 1px solid #6F819B22;
  border-right: 1px solid #6F819B11;
  border-bottom: 1px solid #3F414B33;
  box-shadow: #0000008f -6px -6px 12px 12px;
  transition-property: opacity, background-color;
  transition-duration: 0.18s;

  vertical-align: bottom;
	horizontal-align: center;
  margin-bottom: 15%;
}
.PickButton:hover
{
    transform: translatez( 10px );
    box-shadow: fill green 0px 0px 2px 0px;
    border: 0px solid #ffd200;
}

.PickButton:active
{
    background-color: white;
    sound: "ui_generic_button_click";
    wash-color: #999999;
    saturation: 0;
    transform: translatez( -10px );
}
.PickButton > Label
{
	width: 100%;
	font-size: 25px;
	text-align: center;
	text-overflow: shrink;
	vertical-align: center;
}
#RadiantBansName
{
  font-size: 25px;
	text-align: center;
	text-overflow: shrink;
  vertical-align: top;
	horizontal-align: left;
  margin-top: 13%;
  margin-left: 10%;
}

#Stage
{
  height: 60px;
	vertical-align: top;
	horizontal-align: center;
	text-align: center;
	font-size: 40px;
	padding: 6px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6px;
	white-space: nowrap;
	text-shadow: 0px 0px 4px 1.0 #9BCAF488;

  text-overflow: shrink;
  text-align: center;
  text-transform: uppercase;

  margin-top: 9%;
}


#DireBansName
{
  font-size: 25px;
	text-align: center;
	text-overflow: shrink;
  vertical-align: top;
	horizontal-align: left;
  margin-top: 13%;
  margin-left: 10%;
}

#RadiantPicksName
{
  font-size: 25px;
	text-align: center;
	text-overflow: shrink;
  vertical-align: top;
	horizontal-align: right;
  margin-top: 13%;
  margin-right: 30%;
}

#DirePicksName
{
  font-size: 25px;
	text-align: center;
	text-overflow: shrink;
  vertical-align: top;
	horizontal-align: right;
  margin-top: 13%;
  margin-right: 30%;
}
.PickButton .RandomIcon
{
	width: 34px;
	height: 38px;
	horizontal-align: center;
}

.RandomIcon
{
	background-image: url("s2r://panorama/images/control_icons/random_dice_psd.vtex");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}


#StartGameCountdownTimer
{
	width: 76px;
	horizontal-align: center;
	vertical-align: top;
	margin-top: 1%;
}

#TeamSelectTimer
{
	margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: center;
}

#StartGameCountdownTimer.countdown_inactive #TeamSelectTimer
{
    opacity: 0.0;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
	horizontal-align: center;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#TimerLabelBox
{
	margin-top: 76px;
    height: 20px;
    width: 100%;
}

#TimerLabelAutoStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.auto_start #TimerLabelAutoStart
{
    visibility: visible;
}

#TimerLabelGameStart
{
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
    visibility: collapse;
    transition-property: opacity;
    transition-duration: 0.2s;
}

#StartGameCountdownTimer.forced_start #TimerLabelGameStart
{
    visibility: visible;
}

.HeroIcon
{
	width: 85px;
	height: 48px;
	background-size: 100%;
	background-repeat: no-repeat;
  box-shadow: black 0px 0px 5px 2px;
  z-index: 2;
  wash-color: #00000025;
  border: 1px solid black;
  /*box-shadow: fill #ffd200 0px 0px 29px 0px;*/
  opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex") 0.4;
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  margin: 2px;
}
.Selected
{
  transform: translateZ(10px);
  box-shadow: fill #00FF7F 0px 0px 8px 0px;
}

.Picked
{
    background-color: white;
    wash-color: #999999;
    saturation: 0;
    transform: translatez( -20px );
}

.CanBePicked
{
    box-shadow: 0px 0px 9px 0px blue;
    brightness: 1.8;
}

.Delete
{
    visibility: collapse;
}

.AspectRatio4x3 .HeroIcon
{
	width: 78px;
	height: 47px;
	background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: black 0px 0px 5px 2px;
    z-index: 2;
    wash-color: #00000025;
    border: 2px solid #ffd200;
    /*box-shadow: fill #ffd200 0px 0px 29px 0px;*/
    margin: 1px;
    opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex") 1;
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: .2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.AspectRatio16x10 .HeroIcon
{
    width: 90px;
    height: 55px;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: black 0px 0px 5px 2px;
    z-index: 2;
    wash-color: #00000025;
    border: 2px solid #ffd200;
    /*box-shadow: fill #ffd200 0px 0px 29px 0px;*/
    margin: 1px;
    opacity-mask: url("s2r://panorama/images/masks/killcammask_left_psd.vtex") 1;
    opacity: 1;
    transition-property: opacity, transform;
    transition-duration: .2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.HeroIcon:hover
{
    transform: translatez( 10px );
    box-shadow: fill green 0px 0px 2px 0px;
    border: 0px solid #ffd200;
}

.HeroIcon:active
{
    background-color: white;
    sound: "ui_generic_button_click";
    wash-color: #999999;
    saturation: 0;
    transform: translatez( -10px );
}
