.BanRow{
  width: 100%;
  height: 100%;
}

#BanScreen{
  width: 100%;
  height: 100%;

  opacity: 0.5;
}

.BanText
{
	vertical-align: middle;
	horizontal-align: left;
	text-align: left;
	font-size: 25px;
	padding: 6px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	z-index: 2;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 6px;
  text-align: center;
  margin-top: -15%;
}


#TopPanel{
  vertical-align: top;
  horizontal-align: middle;
  
  width: 100%;
  height: 38px;
}

.GameBan
{
  background-color: darkred;
}

.TempBan
{
  background-color: #ffcc00;
}

#BanText{
  vertical-align: top;
	horizontal-align: center;
	text-align: center;
  color: black;
  
	font-size: 20px;
	padding: 6px;
	letter-spacing: 2.25px;
  text-transform: uppercase;
  
	z-index: 2;

	text-transform: uppercase;
	letter-spacing: 6px;
	white-space: nowrap;
	text-shadow: 0px 0px 4px 1.0 black;

  text-overflow: shrink;
  text-align: center;
  text-transform: uppercase;
}